body {
  margin: 0;
  padding: 0;
  width: 100%;
}
.axis-canvas {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: 10px;
  left: 0;
}
.three-js {
  height: 600px;
}
.block {
  margin-top: 10px;
  }
  .block span {
    font-weight: bold;
  }
#tools.collapsed .block, #tools.collapsed ul, #tools.collapsed select {
  display: none;
}
#tools.collapsed {
  width: 80px;
  overflow: hidden;
}
#collapse {
  color: black;
  text-decoration: none;
}
#tools.collapsed #collapse {
  color: #f00;
}
#collapse:before {
  display: block;
  content: "Collapse";
}
#tools.collapsed #collapse:before {
  content: "Expand";
}
#tools {
  background: white;
  top: 0;
  left: 0;
  padding: 20px;
  box-sizing: border-box;
  margin: 0;
  width: 350px;
  border-right: 1px solid #333;
  height: 600px;
  overflow: scroll;
  overflow-x: hidden;
  }
  #tools #file #files {
    margin: 0;
    padding: 0;
  }
  #tools #objects ul {
    margin: 0;
    padding: 0;
    }
    #tools #objects ul a {
      color: #aaa;
    }
    #tools #objects ul a .details {
      color: #aaa;
      font-weight: normal;
      font-style: italic;
      margin-left: 10px;
    }
    #tools #objects ul a.active {
      color: #000;
    }
#map {
  width: 100px;
  height: 100px;
  background: #eee;
}
#tools ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 10px;
}
#tools ul a {
  color: #333;
  text-decoration: none;
}
#tools ul a:hover {
  color: red;
}
#modes .active {
  color: red;
}
#ctl00_RadMenu1 {
  display: none;
}
[data-identifier], .hidden {
  display: none;
}
#extras, #content {
  float: left;
}
[type=range] {
  width: 140px;
}
.sceneWrapper {
  position: relative;
}
.statusBar {
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
  padding: 5px;
  box-sizing: border-box;
  width: 100%;
}

