body {
  margin: 0;
  padding: 0;
  width: 100%;
}
.three-js {
  width: 600px;
  height: 600px;
}
#tools {
  background: white;
  padding: 20px;
  box-sizing: border-box;
  width: 180px;
  border-right: 1px solid #333;
  height: 100%;
}
#map {
  width: 100px;
  height: 100px;
  background: #eee;
}
#tools ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-top: 10px;
}
#tools ul a {
  color: #333;
  text-decoration: none;
}
#tools ul a:hover {
  color: red;
}
#modes .active {
  color: red;
}
#ctl00_RadMenu1 {
  display: none;
}
[data-identifier], .hidden {
  display: none;
}
#extras, #content {
  float: left;
}

