body {
  margin: 0;
  padding: 0;
  width: 100%;
}
.three-js {
  width: 900px;
  height: 600px;
  outline: 1px solid #333;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -451px;
}
#tools {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 100px;
}
#map {
  width: 100px;
  height: 100px;
  background: #eee;
}
#tools ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
#modes .active {
  color: red;
}

